# Jupyter Notebook sample

System variables > CURL_CA_BUNDLE might be pointing to the PostgreSQL certificate bundle. Remove or rename this to allow PyCharm to work.

Jupyter Notebooks in PyCharm, see: [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
PyCharm overview: goto Help > Learn IDE features, or goto [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

# LOOPS

In [ ]:
print("Hello World!")
greeting = 'Hello, World!';
print(greeting)
# user = input('Name?'); print(f'Name: {user}')
val = True  # boolean True = 1
print(1 + val + .1_0000_0001 + 3e4 + 3e-4)
print(0o777, 0xBABE, 'MLG ' * 5)

# loops
names = ['Martin', 'Mary', 'Samuel', 'Kenzie']
print(list(enumerate(names)))
print(f'Hello, {names[0]}.' * 5)
ictr = 0;
for name in names:
	ictr = ictr + 1;
	print(f'{ictr} Hi {name}.', end="")
	if ictr < 4:
		print(type(ictr))
	elif ictr == 4:
		print(type(ictr))
	else:
		print(type(ictr))

# SYSTEM

In [ ]:
import os
import random
import sys
from datetime import datetime

# for name, value in os.environ.items(): print(f"{name}: {value}", end="")
print(f'sys.version: {sys.version},  sys.getdefaultencoding: {sys.getdefaultencoding()}')
homeDir = os.environ['USERNAME'];
print(f'os: homeDir: {homeDir}')
print(f'os: cwd: {os.getcwd()}, pid: {os.getpid()}')
print(f'random: {random.randint(1, 10)}')

# datetime
dateNow = datetime.now();
dateIso = dateNow.isoformat()
print(f'dateNow: {dateNow}, dateIso: {dateIso}')

# REQUESTS, GET

In [ ]:
import requests

url = "https://jsonplaceholder.typicode.com/posts/1"
response = requests.get(url)
if response.status_code == 200:
	print("Request successful!")
	print(response.json())
else:
	print(f"Request failed with status code: {response.status_code}")

# REQUESTS: POST

In [ ]:
url = "https://jsonplaceholder.typicode.com/posts"
payload = {"title": "foo", "body": "bar", "userId": 1}
response = requests.post(url, json=payload)
if response.status_code == 201:
	print("Resource created successfully!")
	print(response.json())
else:
	print(f"Request failed with status code: {response.status_code}")

# JSON

In [ ]:
'''
run in python terminal:
pip install jsonpath-ng
pip install jsonpath-rw-ext
'''

In [ ]:
from jsonpath_ng import parse

json_load = {"title": "foo", "body": "MLG Python", "userId": 343}
json_data = {
	"store": {
		"book": [
			{"category": "reference", "author": "Nigel Rees", "title": "Sayings of the Century",
			 "price": 8.95},
			{"category": "fiction", "author": "Evelyn Waugh", "title": "Sword of Honour", "price": 12.99},
			{"category": "fiction", "author": "Herman Melville", "title": "Moby Dick", "isbn": "111",
			 "price": 8.99},
			{"category": "fiction", "author": "J.R.R. Tolkien", "title": "Lord of Rings", "isbn": "222",
			 "price": 22.99}
		],
		"bicycle": {
			"color": "red",
			"price": 19.95
		}
	}
}

json_load = {"title": "foo", "body": "bar", "userId": 1}
json_path = parse('$.body')
match_body = json_path.find(json_load)
print(f'body reads: {match_body[0].value}')

# json_authors = parse('$.store.book[?(@.price > 10)].author')
json_authors = parse('$.store.book[*].author')
json_booklist = [match.value for match in json_authors.find(json_data)]
print(f'Authors: {json_booklist}')

# DBs: SQLITE

In [ ]:
import sqlite3

# connect to DB Using a 'with' statement so conn is closed
dbFile = 'C:/workspace/dbase/sqlite/chinook.db'
SQL_LIST = 'SELECT * FROM customers WHERE company != \'\' ORDER BY customerId ASC;'
try:
	with sqlite3.connect(dbFile) as connection:

		print(f'{connection.__class__.__name__ = }')
		cursor = connection.cursor()
		cursor.execute(SQL_LIST)
		rows = cursor.fetchall()

except sqlite3.Error as ex:
	print(f"An SQLite error occurred: {ex}")
except Exception as ex:
	print(f"An unexpected error occurred: {ex}")

finally:
	cursor.close()
	connection.close()

ictr = 0
for row in rows:
	ictr += 1
	print(f'{ictr:02d} {(row[1] + ' ' + row[2]):<25} {('| ' + row[7])}')

# DBs: MySQL

In [ ]:
# pip install mysql-connector-python

In [ ]:
import os, mysql.connector

hostname = "localhost"
port = 3306
username = os.environ.get("MYSQL_USER")
password = os.environ.get("MYSQL_PASS")
dataname = "mydb"  # Optional: specify a database to connect to directly
SQL_VALS = 'SELECT * FROM mydb.history;'

try:
	print(f'username: {username}, password: {password}')
	connection = mysql.connector.connect(
		host=hostname, user=username, password=password, database=dataname
	)
	print(f'{connection.connection_id = }')
	cursor = connection.cursor()
	cursor.execute(SQL_VALS)
	rows = cursor.fetchall()
	for row in rows: print(f'{row[1]} {row[2]} {row[3]:<25} {row[5]}')

except mysql.connector.Error as ex:
	print(f"ERROR MySQL: {ex}")

finally:
	cursor.close()
	connection.close()

# DBs: PostGreSQL

In [ ]:
'''
pip install psycopg2-binary
'''

In [ ]:
import os, psycopg2

hostname = "localhost"
port = 5432
username = os.environ.get("POSTGRES_USER")
password = os.environ.get("POSTGRES_PASS")
dataname = "dvdrental"  # Optional: specify a database to connect to directly
SQL_VALS = 'SELECT * FROM actor LIMIT 10;'

try:
	print(f'username: {username}, password: {password}')
	params = {
		"host": hostname,
		"port": port,
		"user": username,
		"password": password,
		"dbname": dataname
	}

	connection = psycopg2.connect(**params)
	cursor = connection.cursor()
	cursor.execute(SQL_VALS)

	rows = cursor.fetchall()
	for row in rows: print(f'{row[0]:02d} {row[1]:<10} {row[2]:<15} {row[3]}')

	cursor.close()

except (Exception, psycopg2.Error) as ex:
	print(f'ERROR PostgreSQL: {ex}')

finally:
	if connection:
		connection.close()
		print('Database connection closed.')

# DBs: Oracle

In [ ]:
'''
run in python terminal:
pip install oracledb
invalid username/password
select sys_context('userenv','service_name') from dual; -- SYS$USERS
'''

In [3]:
import os, oracledb

hostname = "localhost"
port = 1521
username = os.environ.get("ORACLE_USER")  #[0:3] #+ ' as sysoper'
password = os.environ.get("ORACLE_PASS")
sid = 'XE'  #'SYS$USERS' # aka sid or System Identifier
dsnval = f'{hostname}:{port}/{sid}'
dsnstr = oracledb.makedsn(hostname, port, sid)
dsntmp = f'{username}/{password}@{hostname}:{port}/{sid}'
SQL_VALS = 'SELECT * FROM employees;'

try:
	# Connect using username, password, and a connection string (DSN)
	# The DSN can be in Easy Connect syntax: 'hostname:port/service_name'
	print(f'username: {username}, password: {password}, dsnstr: {dsnstr}')
	connection = oracledb.connect(
		user=username,
		password=password,
		dsn=dsnval,
		config_dir='C:/workspace/dbase/oracle'
	)
	cursor = connection.cursor()
	cursor.execute(SQL_VALS)
	rows = cursor.fetchall()
	for row in rows:
		for row in rows: print(f'{row[0]} {row[1]} {row[2]:<15} {row[5]}')

except oracledb.Error as ex:
	print(f"Error connecting to Oracle database: {ex}")

finally:
	if 'connection' in locals() and connection:
		connection.close()

username: sys as sysdba, password: bu3gu3, dsnstr: (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=XE)))
Error connecting to Oracle database: ORA-01017: invalid username/password; logon denied
Help: https://docs.oracle.com/error-help/db/ora-01017/

# DBs: AWS

In [ ]:
# pip install boto3

In [1]:
import boto3

s3_client = boto3.client('s3')

bucketval = 'mlg-s3-sample'
try:
	responseList = s3_client.list_buckets()
	for bucket in responseList['Buckets']: print(f'{bucket['Name']} ', end = '')
	print()

	responseItems = s3_client.list_objects_v2(Bucket=bucketval)
	print ( responseItems )
	print ( responseItems['Name'] )
	for obj in responseItems['Contents']: print(f'• {obj['Key']}')

except Exception as ex: print(f'ERROR AWS: {ex}')
#except ExpectedBucketOwner as ex: print(f'ERROR AWS: {ex}')

mlg-s3-events mlg-s3-sample
{'ResponseMetadata': {'RequestId': 'WYBEMRN19HHYM6T0', 'HostId': 'rsd8rX2KpiEe54nXe89tyZBe3pk0VIyPsTBnBYynnLvzlMCs+KAer4NP+ASt/Ht9Nbasil3609c=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'rsd8rX2KpiEe54nXe89tyZBe3pk0VIyPsTBnBYynnLvzlMCs+KAer4NP+ASt/Ht9Nbasil3609c=', 'x-amz-request-id': 'WYBEMRN19HHYM6T0', 'date': 'Tue, 23 Sep 2025 21:20:07 GMT', 'x-amz-bucket-region': 'us-east-2', 'content-type': 'application/xml', 'transfer-encoding': 'chunked', 'server': 'AmazonS3'}, 'RetryAttempts': 1}, 'IsTruncated': False, 'Contents': [{'Key': 'images/', 'LastModified': datetime.datetime(2025, 4, 26, 23, 33, 26, tzinfo=tzutc()), 'ETag': '"d41d8cd98f00b204e9800998ecf8427e"', 'ChecksumAlgorithm': ['CRC64NVME'], 'ChecksumType': 'FULL_OBJECT', 'Size': 0, 'StorageClass': 'STANDARD'}, {'Key': 'images/01_Gen0617_Flood3_DelugeTablet_Utnapishtim_t.jpg', 'LastModified': datetime.datetime(2025, 4, 26, 23, 37, 45, tzinfo=tzutc()), 'ETag': '"a9a04315cddcc0d29a14b9ad51027bd3"', 'ChecksumAlgorithm': ['CRC64NVME'], 'ChecksumType': 'FULL_OBJECT', 'Size': 3475, 'StorageClass': 'STANDARD'}, {'Key': 'images/12_2Kin1935_Herodotus_Histories_t.jpg', 'LastModified': datetime.datetime(2025, 4, 26, 23, 37, 45, tzinfo=tzutc()), 'ETag': '"d0f671e3d28d583dd87c5eaa78956095"', 'ChecksumAlgorithm': ['CRC64NVME'], 'ChecksumType': 'FULL_OBJECT', 'Size': 3047, 'StorageClass': 'STANDARD'}, {'Key': 'images/40_Matt2806_Testimonium_Greek_t.jpg', 'LastModified': datetime.datetime(2025, 4, 26, 23, 37, 45, tzinfo=tzutc()), 'ETag': '"70e925128a1fc4b2018e06573c5c3922"', 'ChecksumAlgorithm': ['CRC64NVME'], 'ChecksumType': 'FULL_OBJECT', 'Size': 2259, 'StorageClass': 'STANDARD'}, {'Key': 'images/coffee.jpg', 'LastModified': datetime.datetime(2025, 4, 26, 23, 37, 45, tzinfo=tzutc()), 'ETag': '"b3b29d095d73d905171d1f5498e1e578"', 'ChecksumAlgorithm': ['CRC64NVME'], 'ChecksumType': 'FULL_OBJECT', 'Size': 110985, 'StorageClass': 'STANDARD'}, {'Key': 'index.html', 'LastModified': datetime.datetime(2025, 4, 28, 14, 38, 22, tzinfo=tzutc()), 'ETag': '"0616a366502b72d4782f0213830757db"', 'ChecksumAlgorithm': ['CRC64NVME'], 'ChecksumType': 'FULL_OBJECT', 'Size': 729, 'StorageClass': 'STANDARD'}], 'Name': 'mlg-s3-sample', 'Prefix': '', 'MaxKeys': 1000, 'EncodingType': 'url', 'KeyCount': 6}
mlg-s3-sample
• images/
• images/01_Gen0617_Flood3_DelugeTablet_Utnapishtim_t.jpg
• images/12_2Kin1935_Herodotus_Histories_t.jpg
• images/40_Matt2806_Testimonium_Greek_t.jpg
• images/coffee.jpg
• index.html